* {
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
}
.container{
    width: 920px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.orange-box{
    display: flex;
    flex-direction: column;
    height: 490px;
    background-color: hsl(31, 77%, 52%);
    padding-inline: 3em;
    padding-top: 3em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cyan-box{
    display: flex;
    flex-direction: column;
    height: 490px;
    background-color: hsl(184, 100%, 22%);
    padding-inline: 3em;
    padding-top: 3em;
}
.darkcyan-box{
    display: flex;
    flex-direction: column;
    height: 490px;
    background-color: hsl(179, 100%, 13%);
    padding-inline: 3em;
    padding-top: 3em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-info{
    margin-bottom: 125px;
}
h2{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding-bottom: 2rem;
    font-size: 32px;

}

p {
    font-family: 'Lexend Deca', ans-serifs;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 15px;
    
}
img{
    margin: 0;
    width: 4em;
    padding-bottom: 2em;
}
button{
    background-color: hsl(0, 0%, 95%);
    width: 150px;
    height: 48px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border-radius: 25px;
    /* padding-left: 0px; */
}

#btn-1{
    color: hsl(31, 77%, 52%);
}
#btn-2{
    color: hsl(184, 100%, 22%);
}
#btn-3{
    color: hsl(179, 100%, 13%);
}